<div class="container">

    <div class="row">
      <div class="col-sm-8">
        <h2 class="display-4">What We Provide?</h2>
        <hr>
        <p class="display-home">We provide serices to private schools. With the help of our software , the  admin of the school can keep track the students attendence ,students result card  and teachers as well. </p>
        <p class="display-home">With this portal , admin can manage student informaton, students fees, teachers salary. The portal also provides a student parents mobile message service.</p>
        

        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-secondary btn-lg form-control" (click)="gotoRegistration()" >Register &raquo;</button>
          </div>
          <div class="col-md-4">
              <button class="btn btn-secondary btn-lg form-control" (click)="gotoSignIn()" >Sign In &raquo;</button>
          </div>

        </div>

      </div>
      <div class="col-sm-4">
        <h2 class="display-4">Contact Us</h2>
        <address>
          <strong>PSMP</strong>
          <br>ST Group
          <br>Software Technology Park Islamambad
          
          <br>
        </address>
        <!-- <address>
          <abbr title="Phone">P:</abbr>
          (0092) 349-9023398
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">isrardk@hotmail.com</a>
        </address> -->
      </div>
    </div>
    <!-- /.row -->
         
    <!-- /.row -->

  </div>