
<div  *ngIf="isAttendenceSaved">

  This attendence is recorded  successfully.

</div>

<div *ngIf="!isAttendenceSaved">


<div style="text-align:left">
  
     Mark Today Attendence for Class : {{class_level}} 
  
  

</div>
<div style="">
  
    Today Date: {{todayDate | date:'dd/MM/yyyy'}}


</div>



<table class="table table-stripped">
    <tr>
      
     
      <th>Student Name</th>
      <th>Father Name</th>
      <th>DOB</th>
      <th>Status</th>
      
      

     

    </tr>
    <tr *ngFor="let student of studentList">

      <td>{{student.student_name}}</td>
      <td>{{student.father_name}}</td>
      <td>{{student.dob|date:'dd/MM/yyyy'}}</td>
      <td>
        <input type="radio" [value]=""  name="{{student._id}}"  (click)="markAttendence('P',student)"> Present
        <input type="radio" [value]=""  name="{{student._id}}"  (click)="markAttendence('A',student)"> Absent
        <input type="radio" [value]=""  name="{{student._id}}"  (click)="markAttendence('L',student)"> Leave

      </td>
     
    </tr>

  </table>

<div class="row">
  <div class="col-md-4">
    <button class="btn btn-primary form-control" [disabled]="map.size!=studentList.length" (click)="saveAttendence()">Save Attendence</button>
  </div>
  <div class="col-md-4 ">
    <button class="btn btn-primary form-control" (click)="gotoHome()">Cancel</button>
  </div>
</div>


</div>


 