   
   <div *ngIf="isDataAvailable">
   
   
   <div class="row">

        
        <div class="col-md-3">
            <div style="margin-top:50px">
                
                    <div id="accordion">
                        
                                <div class="card">
                                
                                    <div class="card-header" id="headingOne">
                                      <h5 class="mb-0">
                                        <a href="" class="btn btn-link" [routerLink]="['./new_class_reg']"> 
                                          Add New Class
                                        </a>
                                       
                                      </h5>
                                    </div>
                                
                                    
                                  </div>
                                  
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" (click)="toggleStudentReg()">
                                    Student Registration
                                  </button>
                                </h5>
                              </div>
                           
                             
                                <div class="card-body" *ngIf="showStudentReg==true">

                                <a  class="btn btn-link" [routerLink]="['./student_reg',item.class_level ]"  *ngFor="let item of regClasses">Level :{{item.class_level}}</a>
                                
                                </div>
                              
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" (click)="toggleMarkAttendence()">
                                        Mark Today Attendence
                                      </button>
                                </h5>
                              </div>
                              
                                <div class="card-body" *ngIf="showMarkAttendence==true">
                                    <a class="btn btn-link" [routerLink]="['./mark_attendence',class.class_level]" *ngFor="let class of regClasses" >{{class.class_level}}</a>
                                    
                                </div>
                              
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" (click)="toggleViewAttendence()">
                                    View  Attendence
                                  </button>
                                </h5>
                              </div>
                             
                                <div class="card-body" *ngIf="showViewAttendence==true">
                                  <a class="btn btn-link" [routerLink]="['./view_attendence',class.class_level]" *ngFor="let class of regClasses" >{{class.class_level}}</a>
                                </div>
                              
                            </div>
                    </div>
            </div>
        
        </div>
        

        <div class="col-md-8">
                <h2 class="page-title" style="text-align:center"> Welcome to {{school_name}}</h2>
                <hr>
                <router-outlet>  
                </router-outlet>                                                                          
               
             
        </div>

    </div>


</div>